<v-container>
    <v-row>
        <v-col cols="12">
            <v-snackbar :color="color" 
                        :bottom="bottom" 
                        :top="top" 
                        :left="left" 
                        :right="right"
                        v-model="snackbar">
                <v-icon color="white" size="40">
                    {{icono}}
                </v-icon>
                <div>
                    <p class="font-weight-bold mt-5">{{mensaje}}</p>
                </div>
                <v-icon size="20" @click="closemessage">
                    mdi-close-circle
                </v-icon>
            </v-snackbar>
        </v-col>
    </v-row>
</v-container>
