<v-data-table :headers="headers" :items="notas" :search="search" class="elevation-4" :loading="loading"
    :items-per-page="5">
    <template v-slot:top>
        <v-toolbar flat color="white">
            <v-toolbar-title>Usuarios</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{on}">
                    <v-tooltip left>
                        <template v-slot:activator="{}">
                            <v-btn class="mx-2" icon x-large color="blue accent-4" v-on="on">
                                <v-icon>add_circle</v-icon>
                            </v-btn>
                        </template>
                        <span>Agregar</span>
                    </v-tooltip>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{formTitle}}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="nota.nombre" label="Nombre"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="nota.descripcion" label="Descripción"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
    </template>
    <template v-slot:item.acciones="{item}">
        <v-tooltip left>
            <template v-slot:activator="{on}">
                <v-btn icon color="blue accent-4" v-on="on" @click="editItem(item)">
                    <v-icon>edit</v-icon>
                </v-btn>
            </template>
            <span>Editar</span>
        </v-tooltip>
        <v-tooltip right>
            <template v-slot:activator="{on}">
                <v-btn icon color="red accent-4" v-on="on" @click="deleteItem(item)">
                    <v-icon>delete_forever</v-icon>
                </v-btn>
            </template>
            <span>Eliminar</span>
        </v-tooltip>
    </template>
</v-data-table>