<div>
    <div class="row landing align-items-center justify-content-center" id="page-landing">
        <div class="col-sm-8 col-lg-7 text-center pb-2">
            <p id="title">PLATTURN</p>
            <p id="subtitle">Sostenga una excelente relación con su fuerza laboral estableciendo procesos transparentes
                asociados los cargos que genera cuando trabaja en horarios especiales. Esta aplicación permite que los
                pequeños empresarios paguen todos los recargos de ley a sus empleados y gestionar sus horas extras de
                manera adecuada.</p>
            <a type="button" class="btn btn-light font-weight-bold" href="#information">SABER MÁS</a>
        </div>
    </div>
    <div class="row align-items-center justify-content-center" id="information">
        <div class="col-sm-11 col-md-8 col-lg-6 text-center pt-2 pb-2">
            <h2 class="text-uppercase title">¡Tenemos lo que necesitas!</h2>
            <p class="text-muted content">¡Start Bootstrap tiene todo lo que necesita para poner en
                funcionamiento su nuevo sitio web en muy poco tiempo! ¡Elija uno de nuestros
                temas de código abierto, de descarga gratuita y fáciles de usar! ¡Sin
                ataduras!</p>
            <a type="button" class="btn btn-light font-weight-bold" href="#services">EMPEZAR</a>
        </div>
    </div>
    <div class="row align-items-center services" id="services">
        <div class="col-lg-12 text-center">
            <h2 class="text-uppercase">Services</h2>
            <h3 class="text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="col-md-4 text-center">
            <font-awesome-icon icon="check" class="icon mt-4 mb-4" />
            <h4>E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 text-center">
            <font-awesome-icon icon="check" class="icon mt-4 mb-4" />
            <h4>Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 text-center">
            <font-awesome-icon icon="check" class="icon mt-4 mb-4" />
            <h4>Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
    </div>
    <div class="row align-items-center justify-content-center contact" id="contact">
        <div class="col-md-12 col-lg-10 text-center pt-5 pb-5">
            <h2 class="text-uppercase mb-5 text-white">Contáctenos</h2>
            <form>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group mb-4">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>

                        <div class="form-group mb-4">
                            <input type="number" class="form-control" placeholder="Teléfono">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-1">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Mensaje"></textarea>
                        </div>
                    </div>
                    <div class="col-12 pt-4">
                        <button type="button" class="btn btn-light font-weight-bold">Enviar</button>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 text-center pt-2 pb-2 ">
              <span class="copyright font-weight-bold">Copyright &copy; 2020 - Platturn</span>
            </div>
          </div>
        </div>
      </footer>
</div>